.teams {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  justify-content: space-around;
  padding: 50px;
  height: 250px;
  border: groove;
  background-color: #1dcfae7c;
}

a {
  color: black;
}

a:hover {
  color: red;
}
