h2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.teamsheet {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  float: left;
}
