h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signupstyle {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  justify-content: space-around;
}

.signinput {
  width: 200px;
}
