header {
  height: 90px;
  background: url('./soccer-pattern-vector.jpg');
  background-size: contain;
}

.App-title {
  display: flex;
  margin: auto 0;
  justify-content: center;
  background: white;
  color: green;
  opacity: 0.9;
  border-radius: 5px;
}
