header {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 200px;
}

.App-title {
  display: flex;
  margin: auto;
  justify-content: center;
  color: red;
  background-color: #2b2c2d;
  border: groove;
  border-radius: 50px;
  width: 30%;
  height: 22%;
  padding: 15px;
  font-family: 'Bungee Inline';
}

.bodyImage {
  display: flex;
  margin: auto;
  justify-content: center;
  border: groove;
  border-radius: 100px;
}

.headerImage {
  height: 100px;
  width: 1000px;
}
